{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}

<div class="login-register-container">
    <div class="form-position">
        <form method="post" action="{{ path('app_password_edit') }}">
            <h2 class="h3 mb-3 font-weight-normal">Changer le mot de passe</h2>
            {% for message in app.flashes('success') %}
                <div class="alert-success">{{ message }}</div>
            {% endfor %}
            <div>
                <label for="current_password">Mot de passe actuel</label>
                <input type="password" id="current_password" name="current_password" class="form-control" required>
                {% if errors.current_password %}
                    <div class="alert-danger">{{ errors.current_password }}</div>
                {% endif %}
            </div>
            <div>
                <label for="new_password">Nouveau mot de passe</label>
                <input type="password" id="new_password" name="new_password" class="form-control" required>
                {% if errors.new_password %}
                    <div class="alert-danger">{{ errors.new_password }}</div>
                {% endif %}
            </div>
            <div>
                <label for="new_password_confirmation">Confirmer le nouveau mot de passe</label>
                <input type="password" id="new_password_confirmation" class="form-control" name="new_password_confirmation" required>
                {% if errors.new_password_confirmation %}
                    <div class="alert-danger">{{ errors.new_password_confirmation }}</div>
                {% endif %}
            </div>

            <button type="submit">Changer le mot de passe</button>
        </form>
    </div>
</div>
{% endblock %}
